@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&family=Roboto:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.clients-down-1{
    background-color: #1d60f0;
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    object-fit: cover;
    margin-top: 20vh;
}
.clients-down-1-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}